
<div class="row container">
    <form class="col s12" (ngSubmit)="login(loginData)" #loginData="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="usuario" type="text" class="validate" [(ngModel)]="usuario.usuario" name="usuario">
          <label for="usuario">Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">https</i>
          <input id="password" type="password" class="validate" [(ngModel)]="usuario.password" name="password">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <button class="waves-effect waves-light btn-small" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
