//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;
$shadow-1: 0 5px 20px -10px $black;
.contenido-cobro{
  .cobro{
    position: relative;
    padding-top: 1rem;
    p{
      margin: 0;
    }
    h3{
      margin: 0;
    }
    .cobro-user{
      color: $gray;
      font-size: 12px;
    }
    .cobro-title{
      color: $blue;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 0;
    }
    .cobro-travel{
      color: $brown;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .cobro-description{
      color: $gray;
      font-size: 14px;
    }
    .btn-cobrar{
      position: absolute;
      top: 1rem;
      right: 0;
    }
  }
  .price{
    border-radius: 35px 35px 0 0;
    box-shadow: 0 -1px 20px -7px $black;
    background: $white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .container-btns{
      display: flex;
      justify-content: space-between;
      .btn-principal{
        display: inline-block;
        width: 45%;
        vertical-align: top;
        border-radius: 35px;
        background: $blue;
        font-weight: bold;
        padding: 0;
        text-transform: capitalize;
        height: 45px;
        line-height: 45px;
        border: 2px solid $blue;
      }
      .btn-secondary{
        display: inline-block;
        width: 49%;
        vertical-align: top;
        border-radius: 35px;
        background: $white;
        color: $blue;
        border: 2px solid $blue;
        font-weight: bold;
        text-transform: capitalize;
        box-shadow: none;
        height: 45px;
        line-height: 45px;
      }
    }
    .copy-pago{
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    .cobro-price{
      .cobro-value{
        color: $red;
        font-size: 3rem;
        font-weight: bold;
      }
      .cobro-coin{
        color: $blue;
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
