<div class="contenido-cobro" *ngFor="let dato of datos">
  <div>
    <div class="container cobro" >
      <p class="cobro-user"> {{ dato.x_nombreUsuario }} </p>
      <h3 class="cobro-title"> {{ dato.cobro_motivo }} </h3>
      <p class="cobro-travel"> {{ dato.x_nombrePlan }} </p>
      <p class="cobro-description"> {{ dato.cobro_descripcion }} </p>
      <a href="" class="btn-cobrar">
        <img src="./assets/images/icon-delete.svg" alt="">
      </a>
    </div>
    <div class="price">
      <div class="container">
        <p class="copy-pago">pago total</p>
        <p class="cobro-price"><strong class="cobro-value"> ${{ dato.cobro_valor }} </strong> <span class="cobro-coin"> COP</span></p>
        <div class="row container-btns">
          <a class="btn-large waves-effect waves-ligh btn-secondary" [routerLink]="['/splitflare/cobros']">atrás</a>
          <a class="btn-large waves-effect waves-ligh btn-principal">editar</a>
        </div>
      </div>
    </div>
  </div>
</div>
