/* You can add global styles to this file, and also import other style files */
//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;

html{
  font-size: 16px;
}
body{
  font-size: 16px;
  background: transparentize($blue, .9);
}
header{
  background: $blue;
  text-align: center;
  padding: 2rem 0;
  .row{
    margin: 0;
  }
}
// titulo de seccion
.title-section{
  color: $blue;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  padding: 3rem 0;
  box-sizing: border-box;
}
