//variables
$blue: #75BEDA;
$blue-2: #2874A6;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;
$shadow-1: 0 5px 20px -10px $black;



#historial{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: -3rem;
    left: 4rem;
    width: 1px;
    height: 150%;
    display: block;
    background: $black;
  }
  &:after{
    content: "";
    position: absolute;
    top: 120%;
    left: 3.84rem;
    width: 5px;
    height: 5px;
    display: block;
    background: $black;
    border-radius: 50%;
  }
  .row{
    margin-bottom: 0;
    .card{
      border-radius: 35px;
      box-shadow: $shadow-1;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -1.85rem;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $blue;
      }
      &:after{
        content: "";
        position: absolute;
        top: 3.95rem;
        left: -1.4rem;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $blue-2;
      }
      .card-content{
        .card-header{
          position: relative;
          span{
            line-height: 16px;
          }
          .card-user{
            color: $gray;
            font-size: 12px;
          }
          .card-status{
            color: $gray;
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            &.pagado{
              color: $green;
            }
            &.borrador{
              color: $blue;
            }
          }
          .card-title{
            color: $blue;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 0;
            display: block;
            width: 60%;
          }
          .card-travel{
            color: $brown;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .card-price{
            color: $red;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            right: 0;
            top: 24px;
            &.pagado{
              color: $green;
            }
          }
        }
        p{
          color: $gray;
          font-size: 14px;
        }
      }
    }
    .btn-principal{
      display: block;
      width: 100%;
      border-radius: 35px;
      background: $blue;
      font-weight: bold;
      font-size: 20px;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}
