<app-splitflare></app-splitflare>
<!-- COBROS -->
<div id="historial">
  <div class="row" *ngFor="let dato of datos">
    <div class="col s9 offset-s2 m6" *ngIf="dato.cobro_estado == 'PAGO_CONFIRMADO'">
      <a [routerLink]="['detalle-historial', dato.id]">
        <div class="card">
          <div class="card-content white-text">
            <div class="card-header">
              <span class="card-user">{{ dato.x_nombreUsuario }}</span>
              <!-- <span class="card-status {{ dato.cobro_estado }}">{{ dato.cobro_estado }}</span> -->
              <span class="card-title">{{ dato.cobro_motivo }}</span>
              <span class="card-travel">{{ dato.x_nombrePlan }}</span>
              <span class="card-price pagado">$ {{ dato.cobro_valor }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
