<app-splitflare></app-splitflare>
<!-- COBROS -->
<div id="pagos">
  <div class="row" *ngFor="let dato of datos">
    <div class="col s12 m6" *ngIf="dato.cobro_estado == 'PAGADO'">
      <a [routerLink]="['detalle-pago', dato.id ]">
        <div class="card">
          <div class="card-content white-text">
            <div class="card-header">
              <span class="card-user">{{ dato.id_deudor }}</span>
              <span class="card-title">{{ dato.cobro_motivo }}</span>
              <span class="card-travel">{{ dato.id_deudor }}</span>
              <span class="card-price pagado">$ {{ dato.cobro_valor }}</span>
            </div>
            <p>{{ dato.cobro_descripcion }}</p>
            <a class="waves-effect waves-ligh btn-principal">pagar</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
