//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;
$shadow-1: 0 5px 20px -10px $black;



#pagos{
  .row{
    margin-bottom: 0;
    .card{
      border-radius: 35px;
      box-shadow: $shadow-1;
      .card-content{
        .card-header{
          position: relative;
          span{
            line-height: 16px;
          }
          .card-user{
            color: $gray;
            font-size: 12px;
          }
          .card-status{
            color: $gray;
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            &.pagado{
              color: $green;
            }
            &.borrador{
              color: $blue;
            }
          }
          .card-title{
            color: $blue;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 0;
          }
          .card-travel{
            color: $brown;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .card-price{
            color: $red;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            right: 0;
            top: 24px;
            &.pagado{
              color: $green;
            }
          }
        }
        p{
          color: $gray;
          font-size: 14px;
        }
      }
    }
    .btn-principal{
      display: block;
      width: 100%;
      border-radius: 35px;
      background: $blue;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      box-shadow: $shadow-1;
      margin: .5rem 0;
    }
  }
}
