<div class="contenido-historial" *ngFor="let dato of datos">
  <div class="container">
    <p class="first-copy">¡YEAH! <strong>@{{ dato.x_nombreUsuario }}</strong> ha efectuado el cobro</p>
    <p class="fecha">{{ dato.fecha_creacion }}</p>
    <h3 class="copy-title">{{ dato.cobro_motivo }}</h3>
    <p class="copy-travel">{{ dato.x_nombrePlan }}</p>
    <p class="copy-description">{{ dato.cobro_descripcion }}</p>
    <div class="price">
      <div class="container">
        <p class="copy-pago">pago total</p>
        <p class="cobro-price"><strong class="cobro-value"> ${{ dato.cobro_valor }} </strong> <span class="cobro-coin"> COP</span></p>
        <p class="copy-thanks">¡Gracias!</p>
        <div class="row container-btns">
          <a class="btn-large waves-effect waves-ligh btn-principal" [routerLink]="['/splitflare/historial']">volver al historial</a>
        </div>
      </div>
    </div>
  </div>
</div>
