//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;
$shadow-1: 0 5px 20px -10px $black;

.contenido-historial{
  .container{
    padding: 2rem 0;
    .first-copy{
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
    .fecha{
      text-align: center;
      color: $gray;
      font-size: 1.4rem;
    }
    .copy-title{
      color: $blue;
      font-weight: bold;
      text-align: center;
      display: block;
      text-transform: uppercase;
    }
    .copy-travel{
      color: $brown;
      font-size: .9rem;
      text-align: center;
    }
    .copy-description{
      color: $gray;
      font-size: .9rem;
    }
    .price{
      text-align: center;
      width: 100%;
      .container-btns{
        display: flex;
        justify-content: space-between;
        .btn-principal{
          display: inline-block;
          width: 100%;
          vertical-align: top;
          border-radius: 35px;
          background: $blue;
          font-weight: bold;
          padding: 0;
          text-transform: capitalize;
          height: 45px;
          line-height: 45px;
          border: 2px solid $blue;
        }
        .btn-secondary{
          display: inline-block;
          width: 49%;
          vertical-align: top;
          border-radius: 35px;
          background: $white;
          color: $blue;
          border: 2px solid $blue;
          font-weight: bold;
          text-transform: capitalize;
          box-shadow: none;
          height: 45px;
          line-height: 45px;
        }
      }
      .copy-pago{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
      .cobro-price{
        .cobro-value{
          color: $green;
          font-size: 3rem;
          font-weight: bold;
        }
        .cobro-coin{
          color: $blue;
          font-size: 3rem;
          font-weight: bold;
        }
      }
      .copy-thanks{
        color: $blue;
      }
    }
  }
}
