<div class="contenido-cobro" *ngFor="let dato of datos">
  <div class="container cobro" >
    <p class="cobro-user"> {{ dato.id_deudor }} </p>
    <h3 class="cobro-title"> {{ dato.cobro_motivo }} </h3>
    <p class="cobro-travel"> {{ dato.id_deudor }} </p>
    <p class="cobro-description"> {{ dato.cobro_descripcion }} </p>
  </div>
  <div class="price">
    <div class="container">
      <p class="copy-pago">pago total</p>
      <form action="">
        <textarea name="" id="" placeholder="Agregar una nota"></textarea>
      </form>
      <div class="row container-btns">
        <a class="btn-large waves-effect waves-ligh btn-secondary" [routerLink]="['/splitflare/pagos']">atrás</a>
        <a class="btn-large waves-effect waves-ligh btn-principal">editar</a>
      </div>
    </div>
  </div>
</div>
