<app-splitflare></app-splitflare>
<!-- COBROS -->
<div id="cobros">
  <div class="row" *ngFor="let dato of datos">
    <div class="col s12 m6" *ngIf="dato.cobro_estado == 'PENDIENTE'">
      <a [routerLink]="['detalle-cobro', dato.id ]">
        <div class="card">
          <div class="card-content white-text">
            <div class="card-header">
              <span class="card-user">{{ dato.x_nombreUsuario }}</span>
              <span class="card-status {{ dato.cobro_estado }}">{{ dato.cobro_estado }}</span>
              <span class="card-title">{{ dato.cobro_motivo }}</span>
              <span class="card-travel">{{ dato.x_nombrePlan }}</span>
              <span class="card-price pagado">$ {{ dato.cobro_valor }}</span>
            </div>
            <p>{{ dato.cobro_descripcion }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <a class="btn-floating waves-effect waves-ligh btn-principal" [routerLink]="['/splitflare/cobros/nuevo-cobro']">nuevo cobro</a>
  </div>
</div>
