
//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$shadow-1: 0 5px 20px -10px $black;
$white: #FFFFFF;

.splitflare{
  .nav-extended{
    background: $blue;
    box-shadow: none;
    margin-bottom: 3rem;
    .nav-content{
      .tabs{
        .tab{
          text-transform: capitalize;
          &.active{
            background: none;
            a{
              font-weight: bold;
              color: $white;
              font-size: 1.2rem;
              &:after{
                content: "";
                width: 50%;
                height: 2px;
                background: $white;
                display: block;
                margin: -.5rem auto 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
