
<div class="splitflare">
  <nav class="nav-extended">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab" routerLinkActive="active"><a  [routerLink]="['/splitflare/cobros']">cobros</a></li>
          <li class="tab" routerLinkActive="active"><a [routerLink]="['/splitflare/pagos']">pagos</a></li>
          <li class="tab" routerLinkActive="active"><a [routerLink]="['/splitflare/historial']">historial</a></li>
        </ul>
      </div>
    </nav>
</div>
