//variables
$blue: #75BEDA;
$gray: #AAAAAA;
$green: #27AE60;
$brown: #D35400;
$red: #E74C3C;
$black: #000000;
$white: #ffffff;
$shadow-1: 0 5px 20px -10px $black;

select{
  display: block;
}
//campos de formularios
form{
  .row{
    position: relative;
  }
  .input-custom{
    background-color: $white;
    box-shadow: $shadow-1;
    border-radius: 35px;
    padding: 0 1rem;
    box-sizing: border-box;
    border: 0;
  }
  .valor-moneda{
    &:before{
      content: "";
      width: 1px;
      height: 30px;
      background: $gray;
      position: absolute;
      top: 5px;
      right: 70px;
      opacity: .5;
    }
    .input-moneda{
      background: $white;
      border-radius: 0 35px 35px 0;
      color: $blue;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 70px;
      border: 0;
      option{
        color: $blue;
        font-weight: bold;
      }
    }
  }
  .textarea-custom{
    background-color: $white;
    box-shadow: $shadow-1;
    border-radius: 35px;
    padding: 1rem;
    box-sizing: border-box;
    border: 0;
    min-height: 150px;
  }
  .select-custom{
    background-color: $white;
    box-shadow: $shadow-1;
    border-radius: 35px;
    padding: 0 1rem;
    box-sizing: border-box;
    border: 0;
    color: $brown;
    text-transform: uppercase;
  }
  .container-btns{
    display: flex;
    justify-content: space-between;
    .btn-principal{
      display: inline-block;
      width: 45%;
      vertical-align: top;
      border-radius: 35px;
      background: $blue;
      font-weight: bold;
      padding: 0;
      text-transform: capitalize;
      height: 45px;
      line-height: 45px;
      border: 2px solid $blue;
    }
    .btn-secondary{
      display: inline-block;
      width: 49%;
      vertical-align: top;
      border-radius: 35px;
      background: $white;
      color: $blue;
      border: 2px solid $blue;
      font-weight: bold;
      text-transform: capitalize;
      box-shadow: none;
      height: 45px;
      line-height: 45px;
    }
  }
}
