<div class="container">
  <h3 class="title-section">
    Nuevo cobro
  </h3>
  <form (ngSubmit)="guardaCobro(forma)" #forma="ngForm" id="form-cobros" novalidate="">
    <div class="row">
      <input type="text"
             placeholder="¿Qué vas a cobrar?"
             class="input-custom"
             id="nombre-cobro"
             name="nombre_cobro"
             [(ngModel)]="cobro.cobro"
             required>
    </div>
    <div class="row valor-moneda">
      <input type="number"
             placeholder="$ Valor"
             class="input-custom"
             id="valor-cobro"
             name="valor_cobro"
             [(ngModel)]="cobro.valor"
             required>
      <select class="input-moneda"
              id="moneda-cobro"
              name="moneda_cobro"
              [(ngModel)]="cobro.moneda"
              required>
        <option value="usd" selected>USD</option>
        <option value="cop">COP</option>
        <option value="eur">EUR</option>
      </select>
    </div>
    <div class="row">
      <textarea name="descripcion_cobro"
                placeholder="Descripción"
                class="textarea-custom"
                id="descripcion-cobro"
                [(ngModel)]="cobro.descripcion"
                required></textarea>
    </div>
    <div class="row">
      <select class="select-custom"
              id="viaje-cobro"
              name="viaje_cobro"
              [(ngModel)]="cobro.viaje"
              required>
        <option value="viaje-planeado" selected>viaje planeado</option>
        <option value="viaje-planeado-2">viaje planeado 2</option>
        <option value="viaje-planeado-3">viaje planeado 3</option>
      </select>
    </div>
    <div class="row">
      <select class="select-custom"
              id="usuario-cobro"
              name="usuario_cobro"
              [(ngModel)]="cobro.usuario"
              required>
        <option value="viaje-planeado" selected>Cristian Vanegas</option>
        <option value="viaje-planeado-2">Diana Espitia</option>
      </select>
    </div>
    <div class="row container-btns">
      <a class="btn-large waves-effect waves-ligh btn-secondary">Cancelar</a>
      <button type="submit" class="btn-large waves-effect waves-ligh btn-principal">Crear borrador</button>
    </div>
  </form>
</div>
